name: CI

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: leafo/gh-actions-lua@v10
      - uses: leafo/gh-actions-luarocks@v4

      - run: luarocks install busted luacheck matcher_combinators
      - run: busted

  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v7
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          name: srplib
          summary: A collection of lightweight and highly specialized libraries for lua.
          detailed_description: |
            A collection of lightweight and highly specialized libraries for lua.
            Lua port of Java libraries https://github.com/apechinsky/srplib.
