name: Delivery

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  release:
    name: Deploy on LuaRocks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Lua
      uses: leafo/gh-actions-lua@v12
      with:
        luaVersion: "5.1.5"

    - name: Setup LuaRocks
      uses: leafo/gh-actions-luarocks@v7

    - name: Install dependencies
      run: |
        luarocks install luacheck
        luarocks test --prepare

    - name: Run linter
      run: luacheck src/ spec/

    - name: Run tests
      run: luarocks test

    - name: Publish to LuaRocks
      env:
        LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_KEY }}
      run: luarocks upload *.rockspec --api-key $LUAROCKS_API_KEY
